html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

pre code.hljs {
  border-radius: 0.7rem;
  padding: 1rem;
  font-size: 0.9rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
}

code {
  border-radius: 0.2rem;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.9rem;
  background-color: #eee;
  padding: 0.2rem 0.4rem;
}

blockquote {
  margin: 0;
  margin-bottom: 16px;
  margin-top: 0;
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}
